<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.connection.driver_class">com.ibm.db2.jdbc.app.DB2Driver</property>
    <property name="hibernate.connection.username">administrador</property>
    <property name="hibernate.connection.password">administrador</property>
    <property name="hibernate.connection.url">jdbc:derby://localhost:1527/TiendaJudy</property>
    <property name="hibernate.connection.pool_size">10</property>
    <property name="hibernate.c3p0.timeout">60</property>
    <property name="hibernate.cache.use_query_cache">false</property>
    <!--property name="hibernate.cache.use_minimal_puts">false</property-->
    <!--mapping resource="hibernate.hbm.xml"/-->
    <mapping resource="Cliente.hbm.xml"/>
    <mapping resource="Empleado.hbm.xml"/>
    <mapping resource="DetalleFactura.hbm.xml"/>
    <mapping resource="EncabezadoFactura.hbm.xml"/>
    <mapping resource="Producto.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
